<div class="navbar navbar-light bg-light navbar-static-top navbar-expand-md" ng-controller="NavbarController">
    <div class="container">
        <button class="navbar-toggler" type="button" ng-click="nav.isCollapsed = !nav.isCollapsed"> 
          <span class="sr-only">Toggle navigation</span>
&#x2630;</button> 
        <a href="/" class="navbar-brand">.</a>
        <div uib-collapse="nav.isCollapsed" class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li ng-repeat="item in nav.menu" ui-sref-active="active" class="nav-item"> <a ui-sref="{{item.state}}" class="nav-link">{{item.title}}</a>
                </li>
                <li ng-show="nav.isAdmin()" ui-sref-active="active" class="nav-item"><a ng-click="nav.goto('admin')" class="nav-link">Admin</a>
                </li>
            </ul>
            <ul ng-if="nav.isRoute('')" style="margin-left:10px; margin-right:10px;" class="nav nav-tabs">
              <li class="nav-item" ng-repeat="tab in nav.tabs">
                <a class="nav-link" ng-class="tab.isActive" ng-click="nav.clickTab($index)">{{tab.title}}</a>
              </li>
            </ul>
            <input style="text-align:center" ng-if="nav.isRoute('')" type="date" ng-model="nav.currDate" ng-change="nav.upDate()" />
            <ul class="nav navbar-nav ml-auto">
                <li ng-hide="nav.isLoggedIn()" ui-sref-active="active" class="nav-item"><a ng-click="nav.goto('signup')" class="nav-link">Sign up</a>
                </li>
                <li ng-hide="nav.isLoggedIn()" ui-sref-active="active" class="nav-item"><a ng-click="nav.goto('login')" class="nav-link">Login</a>
                </li>
                <li ng-show="nav.isLoggedIn()" class="nav-item">
                    <p class="navbar-text">Hello {{ nav.getCurrentUser().name }}</p>
                </li>
                <li ng-show="nav.isLoggedIn()" ui-sref-active="active" class="nav-item"><a ng-click="nav.goto('settings')" class="nav-link"><span><i class="fas fa-cog"></i></span></a>
                </li>
                <li ng-show="nav.isLoggedIn()" class="nav-item"><a ng-click="nav.goto('logout')" class="nav-link">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</div>
