<navbar></navbar>
<div ng-if="!main.isUser()" style="text-align:center">
  <br><br>
  <h1>Please Login to see reservations.</h1>
  <h1>If you sign up for a new account, let Andy know to approve your login to see the reservations.</h1>
  <h1>If you don't have an email address, use "your first name"@example.com</h1>
</div>
<div ng-if="main.isUser()" class="my-page" print-section>
  <div class="row nogap">
    <div style="text-align:center" class="col off-on" ng-repeat="col in main.cols">
      <div><p class="top-label">{{main.flights.one[col].times}}</p></div>
      <div><p class="other-label">{{main.flights.one[col].route}}</p></div>
      <div><p class="other-label">{{main.flights.one[col].label}}</p></div>
    </div>
  </div>
  <div class="row nogap" ng-repeat="row in main.rows">
    <div class="col" ng-class="main.checkRow(row)" ng-repeat="col in main.cols">
      <div droppable="true" id="{{'drop' + col + ',' + row}}">
       <div draggable="true" id="{{'drag' + col + ',' + row}}">
        <div class="input-group">
          <input ng-class="main.isInterVillage(row) + ' ' + main.amIFocused(col,row) + ' ' + main.purple(col,row) + ' ' + main.red(col,row) + ' ' + main.orange(col,row)"
            class="form-control name-input" type="text" ng-model="main.data[col+','+row].name"
            ng-blur="main.setOldObj(col,row)" ng-focus="main.newFocus('name',col,row)" 
            id="{{col+','+row}}">
          <input class="form-control village-input" type="text" ng-model="main.data[col+','+row].village"
            ng-focus="main.newFocus('village',col,row)" ng-class="main.amIFocused(col,row)" 
            ng-blur="main.setOldObj(col,row)" id="{{'village,'+col+','+row}}" uib-tooltip="{{main.data[col+','+row].reservedBy}}"><!-- tooltip-placement="auto below">-->  
          <div uib-dropdown auto-close="outsideClick" is-open="main.isOpen[col+','+row]" 
                ng-class="main.bottomFour(row)" class="btn-group" ng-click="main.toggleDropdown(col,row)">
            <button ng-blur="main.setOldObj(col,row)" type="button" uib-dropdown-toggle class="btn btn-primary my-dropdown"></button>
            <form style="right: 0; left: auto;" uib-dropdown-menu role="menu" class="dropdown-menu p-1">
              <div role="menuitem" class="form-group">
                <label>Weight</label>
                <input ng-blur="main.setOldObj(col,row)" ng-model="main.data[col+','+row].weight" type="number" min="0" step="1" class="form-control" placeholder="0">
              </div>
              <div role="menuitem" class="form-group">
                <label>Phone</label>
                <input ng-blur="main.setOldObj(col,row)" ng-model="main.data[col+','+row].phone" type="text" class="form-control" placeholder="Phone">
              </div>
              <div role="menuitem" class="form-group">
                <label>Email address</label>
                <input ng-blur="main.setOldObj(col,row)" ng-model="main.data[col+','+row].email" type="email" class="form-control" placeholder="email@example.com">
              </div>
              <div role="menuitem" class="form-group">
                <label>Ticket Number</label>
                <input ng-blur="main.setOldObj(col,row)" ng-model="main.data[col+','+row].ticket" type="text" class="form-control" placeholder="Ticket#">
              </div>
              <div role="menuitem" class="form-group">
                <label>Comment</label>
                <input ng-blur="main.setOldObj(col,row)" ng-model="main.data[col+','+row].comment" type="text" class="form-control" placeholder="Comment">
              </div>
              <div role="menuitem" class="form-group">
                <button ng-click="main.cancel(col,row)" class="btn btn-danger">Cancel/Restore</button>
              </div>
              <div role="menuitem" class="form-group">
                <button ng-click="main.reschedule('Enter the updated information')" class="btn btn-warning">Reschedule</button>
              </div>
            </form>
          </div>
        </div>
       </div>
      </div>  
    </div>
  </div>
</div>